# Misc
include README.md
include LICENSE
include requirements.txt

# Compiled module
include organizedpointfilters/organizedpointfilters*.pyd
include organizedpointfilters/organizedpointfilters*.so

# Exclude
global-exclude *.py[co]